			<div id="adddiv">
				{%- if failed %}
				<div id="addfaileddiv">Failed to add torrent</div>
				{%- endif %}
				<form action="add" method="post" enctype="multipart/form-data">
					<input id="takefocus" class="fullwidth" placeholder="directory" name="directory" type="text" />
					<input name="file" type="file" />
					<div id="ordiv">- or -</div>
					<input class="fullwidth" placeholder="torrent url" name="torrenturl" type="text" />
					<input name="idle" type="checkbox" /><span>add torrent as idle?</span>
					<input class="fullwidth" type="submit" value="Add" />
				</form>
			</div>
