			<div id="adduserdiv">
				{% if adduserfailed -%}
				<div id="adduserfaileddiv">{{ warning|e }}</div>
				{%- endif %}
				<form action="adduser" method="post">
					<input id="takefocus" placeholder="Username" type="text" name="username" value="{{ usernamefield }}">
					<input placeholder="Password" type="password" name="password">
					<input placeholder="Password confirmation" type="password" name="passwordconfirm">
					<input type="checkbox" name="admin" value="Yes"><span>Admin?</span>
					<input value="Add user" type="submit">
				</form>
			</div>
