<!doctype html>
<html>
	<head>
		<title>btpd web</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="static/script.js"></script>
	</head>
	<body>
		<div id="headerdiv">
			<div id="titlediv"><a href="/">btpd web</a></div>
			{% if username -%}
			<div id="userdiv"><a href="settings">{{ username|e }}</a>
			{% if admin %}- <a href="users">users</a>{% endif %}
			 - <a href="logout">logout</a>
			</div>
			{%- endif %}
		</div>
		<div id="maindiv">
			{%- if failed -%}
			<div id="connectfaileddiv">Failed to connect to btpd</div>
			{%- else -%}
			{% include fragment %}
			{%- endif %}
		</div>
	</body>
</html>
