			<table class="torrents">
				<tr class="torrentheadings">
					<th><a class="torrentheading" href="?orderby={{ orders[0] }}">{{ headings[0] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[1] }}">{{ headings[1] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[2] }}">{{ headings[2] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[3] }}">{{ headings[3] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[4] }}">{{ headings[4] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[5] }}">{{ headings[5] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[6] }}">{{ headings[6] }}</a></th>
					<th><a class="torrentadd" href="add">+</a></th>
				</tr>
				{% for line in lines -%}
				<tr class="torrent" id="torrent{{ line["id"]|e }}">
					<td class="torrentid"><a class="state{{ line["state"]|e }}" href="action?id={{ line["id"]|e }}&state={{ line["state"]| e }}">{{ line["id"]|e }}</a></td>
					<td class="torrentname" title="{{ line["title"]|e }}">{{ line["title"]|e }}</td>
					<td class="torrentstatus">{{ line["state"]|e }}</td>
					<td class="torrentpercent">{{ line["percent"]|e }}</td>
					<td class="torrentsize">{{ line["pretty_size"]|e }}</td>
					<td class="torrentratio">{{ line["ratio"]|e }}</td>
					<td class="torrentowner">{{ line["uploader"]|e }}</td>
					<td><a class="torrentremove" href="remove?id={{ line["id"]|e }}">✘</a></td>
				</tr>
				{% endfor %}
			</table>
			<div id="torrentpagesdiv">
			{%- for n in range(pages) %}
				{% if page == n -%}
				<span>{{ n+1 }}</span>
				{%- else -%}
				<a href="?page={{ n+1 }}&orderby={{ orderby }}">{{ n+1 }}</a>
				{%- endif -%}
			{% endfor %}
			</div>
