			<table class="torrents">
				<tr class="torrentheadings">
					<th><a class="torrentheading" href="?orderby={{ orders[0]|e }}">{{ headings[0] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[1]|e }}">{{ headings[1] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[2]|e }}">{{ headings[2] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[3]|e }}">{{ headings[3] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[4]|e }}">{{ headings[4] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[5]|e }}">{{ headings[5] }}</a></th>
					<th><a class="torrentheading" href="?orderby={{ orders[6]|e }}">{{ headings[6] }}</a></th>
					<th class="torrentadd"><a href="add">+</a></th>
				</tr>
				{% for line in lines -%}
				<tr class="torrent" id="torrent{{ line["id"]|e }}">
					<td class="torrentid">{{ line["id"]|e }}</td>
					<td class="torrentname" title="{{ line["title"]|e }}">
						<a href="view?id={{ line["id"]|e }}"><div class="torrentnamediv">{{ line["title"]|e }}</div></a>
					</td>
					<td class="torrentstatus"><a class="state{{ line["state"]|e }}" href="action?id={{ line["id"]|e }}">{{ line["state"]|e }}</a></td>
					<td class="torrentpercent">{{ line["percent"]|e }}</td>
					<td class="torrentsize">{{ line["pretty_size"]|e }}</td>
					<td class="torrentratio">{{ line["ratio"]|e }}</td>
					<td class="torrentowner">{{ line["uploader"]|e }}</td>
					<td><a class="torrentremove" href="remove?id={{ line["id"]|e }}">✘</a></td>
				</tr>
				{% endfor %}
			</table>
			<div id="torrentpagesdiv">
			{%- for n in range(pages) %}
				{% if page == n -%}
				<span>{{ n+1 }}</span>
				{%- else -%}
				<a href="?page={{ n+1 }}&orderby={{ orderby|e }}">{{ n+1 }}</a>
				{%- endif -%}
			{% endfor %}
			</div>
