			<div id="userlistdiv">
				<table>
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Admin</th>
						<th><a href="adduser">+</a></th>
					</tr>
					{% for user in users -%}
					<tr>
						<td class="userid">{{ user[0]|e }}</td>
						<td class="username"><a href="settings?id={{ user[0]|e }}">{{ user[1]|e }}</a></td>
						<td class="useradmin">{{ user[2]|e }}</td>
						<td class="userdel">{% if not user[1] == "root" %}<a href="removeuser?id={{ user[0]|e }}">✘</a>{% endif %}</td>
					</tr>
					{%- endfor -%}
				</table>
			</div>
