			<div id="seriouslydiv">
				<div class="seriouslytitle">{{ target_username|e }}</div>
				<div class="seriouslyquestion">{{ warning|e }}</div>
				<div id="seriouslybuttons">
					<form method="GET" id="seriouslyyes" action="removeuser">
						<input type="hidden" name="id" value="{{ id|e }}" />
						<input type="hidden" name="seriously" value="1" />
						<input type="submit" value="Yes" />
					</form>
					<form method="GET" id="seriouslyno" action="removeuser">
						<input type="hidden" name="id" value="{{ id|e }}" />
						<input type="hidden" name="seriously" value="0" />
						<input type="submit" value="No" />
					</form>
				</div>
			</div>
			

