			<div id="viewdiv">
				<div class="viewtitle">{{ torrent["title"]|e }}</div>
				<table class="view">
					<tr>
						<th>ID</th>
						<!--<th>Infohash</th>-->
						<th>State</th>
						<th>Size</th>
						<th>Percent</th>
						<th>Downloaded</th>
						<th>Uploaded</th>
						<th>Pieces</th>
						<th>Peers</th>
						<th>Ratio</th>
						<th>Uploader</th>
						<th></th>
					</tr>
					<tr>
						<td class="torrentid">{{ torrent["id"]|e }}</td>
						<!--<td>{{ torrent["info_hash"]|e }}</td>-->
						<td><a class="state{{ torrent["state"]|e }}" href="action?id={{ torrent["id"]|e }}">{{ torrent["state"]|e }}</a></td>
						<td>{{ torrent["pretty_size"]|e }}</td>
						<td>{{ torrent["percent"]|e }}</td>
						<td>{{ torrent["downloaded"]|e }}B ({{ torrent["download_speed"]|e }}B/s)</td>
						<td>{{ torrent["uploaded"]|e }}B ({{ torrent["upload_speed"]|e }}B/s)</td>
						<td>{{ torrent["have_pieces"]|e }}/{{ torrent["total_pieces"]|e }}</td>
						<td>{{ torrent["peers"]|e }}</td>
						<td>{{ torrent["ratio"]|e }}</td>
						<td>{{ torrent["uploader"]|e }}</td>
						<td><a class="torrentremove" href="remove?id={{ torrent["id"]|e }}">✘</a></td>
					</tr>
				</table>
			</div>
